.page {
  max-width: 900px;
  margin: 0 auto;
  padding: 24px;
  display: grid;
  gap: 24px;

  &__title {
    font-size: 30px;
  }

  &__modal {
    &__title {
      margin-bottom: 16px;
      font-size: 24px;
    }

    &__btn {
      padding: 10px 16px;
      border-radius: 8px;
      border: none;
      background-color: #f8f9fa;
      font-weight: 600;
      cursor: pointer;
      transition: 0.15s;

      &:hover {
        background-color: #e2e6ea;
      }

      &:active {
        transform: scale(0.95);
      }
    }
  }
}

@media (max-width: 576px) {
  .page {
    padding: 16px;

    &__title {
      font-size: 26px;
    }
  }
}
